* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.h2,
h2 {
    font-size: 1.2rem;
}